<div class="st-menu st-effect-2" ng-include="'partials/navbar'"></div>
<div class="st-pusher">
    <div class="st-content">
        <a href="#" ng-click="toggleMenu()" class="menuButton"><i class="fa fa-bars fa-3x"></i></a>

        <div class="container">
            <h1 class="text-center">Simple Registry</h1>

            <p class="lead text-center">Helping your guests register for gifts, easily.</p>

            <div class="itemContainer">
                <div class="filterPane">
                    <a class="pull-right" ng-class="{'active':selectedFilter == 'All'}"
                       ng-click="selectedFilter = 'All'" href="#">All</a><br/>
                    <a class="pull-right" ng-class="{'active':selectedFilter == 'Yours'}"
                       ng-click="selectedFilter = 'Yours'" href="#">Yours</a><br/>
                    <a class="pull-right" ng-class="{'active':selectedFilter == 'Unclaimed'}"
                       ng-click="selectedFilter = 'Unclaimed'" href="#">Unclaimed</a><br/>
                </div>
                <ul class="list-unstyled">
                    <li ng-if="isAdmin" class="giftbox">
                        <button type="button" class="btn btn-primary initialButton new">Create New Item<i
                                class="fa fa-plus-square fa-3x"></i></button>
                    </li>
                    <li class="giftbox" ng-repeat="gift in gifts | filter:giftFilter">
                        <form editable-form name="giftForm">
                            <button type="button" class="btn btn-primary initialButton"><h4 class="pull-left"
                                                                                            editable-text="gift.name"
                                                                                            e-name="name" e-required>
                                {{gift.name}}</h4> <h4 ng-show="gift.owner !== undefined" class="pull-right">
                                Claimed</h4></button>
                            <div class="gift-content">
                                <button type="button" class="btn btn-primary button-clone">{{gift.name}}</button>
                                <div class="gift">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="lead" editable-text="gift.description" e-required
                                               e-name="description">{{gift.description}}</p>

                                            <h4 class="pull-left"><a target="_blank" ng-href="{{gift.url}}">See The
                                                Product</a></h4>
                                            <button ng-show="gift.owner == undefined && !isAdmin"
                                                    class="btn btn-success pull-right">Claim This!
                                            </button>
                                            <button ng-show="gift.owner == undefined && isAdmin"
                                                    ng-click="giftForm.$show();" ng-hide="giftForm.$visible"
                                                    class="btn btn-info pull-right">Edit This
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
