<div id="menu-2" ng-controller="NavbarCtrl">
    <h3 class="text-muted">Simple Registry</h3>
  <ul>
    <li ng-hide="currentUser" ng-class="{active: isActive('login')}"><a ui-sref="login">Login</a></li>
    <li ng-hide="currentUser" ng-class="{active: isActive('signup')}"><a ui-sref="signup">Sign up</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('logout')}"><a href="#" ng-click="logout()">Logout</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('settings')}"><a ui-sref="settings">Settings</a></li>
    <li ng-class="{active: isActive('about')}"><a ui-sref="about">About</a></li>
  </ul>
    <div style="position:relative">
        <div class="navPanePanel" ui-view></div>
    </div>
</div>